body {
  background-color:whitesmoke;
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img {
  /* flex-direction: row; */
  width:100%;
  height: 300px;
  border-radius: 25px;
  

}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  padding: 60px;
  
  background-color: white;
  
  
}
.flex-container{
  display: inline-flex;
  flex-direction: row;
  justify-content:  space-evenly;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 30px;
  
  
  


  
}

.center {
  text-align: center;
  display: block;
  justify-content: center;

  
  align-items: center;
  margin: auto;
  /* width: 100%; */
}

.prod-container{
  display: inline-flex;
  flex-direction: row;
  justify-content:  space-evenly;
  width:100%;
  
  
}

.prod-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  
  
  
  
  

  /* width: 95%;
  height: 300px; */
  /* border-radius: 25px; */
}

.prod-img{
  width:100%;
}

/* Review Styling (dique) */

.review-container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 540px;

    text-align: center;
    display: block;
    justify-content: center;

  
    align-items: center;
   margin: auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


  
}


/* NavBar Styling (dique) */

.topnav {
  background-color: rgb(147, 149, 129);
  overflow: hidden;
}

.nav-button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-button:hover {
  background-color: #ddd;
  color: black;
}

.nav-button.active {
  background-color: goldenrod;
  color: white;
}

/* Testimonial styling  */

.test-container {
  
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
  
}

.test-container::after {
  content: "";
  clear: both;
  display: table;
}

.test-container span {
  font-size: 20px;
  margin-right: 15px;
}


/* Profile Card styling */

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  
  
}

.prof-title {
  color: grey;
  font-size: 18px;
}

.profbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.profbutton:hover, a:hover {
  opacity: 0.7;
}

.propic{
  width:100%;
  height: 300px;
  border-radius: 25px;  
}

/* Style the container/contact section */
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-left: 30%;
  /* box-sizing: border-box; */

}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-form, #input[type=text], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-form, textarea{
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}

/* Book Now Button */
.book-butt{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.glow {
  font-size: 80px;
  color: goldenrod;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e69600, 0 0 40px #e69600, 0 0 50px #e69600, 0 0 60px #e69600, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


.admin-form {
  /* border: 3px solid #f1f1f1;
  border-radius: 5px;
  background-color: #f2f2f2; */
  padding: 10%;
}

.admin-container{
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  background-color: #f2f2f2;
  /* padding: 70%; */
}