.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img {
  /* flex-direction: row; */
  width: 95%;
  height: 300px;
  border-radius: 25px;
  
  
  /* display: flex;   */
  
  /* flex-wrap: nowrap; */

}

/* .cocktail-img {
  object-fit: cover;  
}  */
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  padding: 60px;
  
}
.flex-container{
  display: inline-flex;
  flex-direction: row
  
  /* flex-wrap: nowrap; */

  
}

.center {
  text-align: center;
  display: block;
  justify-content: center;

  
  align-items: center;
  margin: auto;
  /* width: 100%; */
}
